{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.replikativ/datahike {:mvn/version "0.6.1539"}
        io.github.replikativ/datahike-server-transactor {:git/sha "ff879a6fe031e24117ddc31baf9d8df8e1b190bb"}}}
